.list-component
  list-style: none;
  padding: 0;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  li:first-child{
    text-indent: 0;
    cursor: auto;
    background-color #eee;
  }
  li:first-child a:hover{
    color: #ffa500;
  }
  li:first-child a{
    color: #888;
    text-decoration: none;
    font-size: 0.8em;
  }
  li:first-child:hover{
    background-color: transparent;
  }
  li
    text-indent: 2em;
    cursor: pointer;
    line-height: 2;
    background-color #fff;
  li:hover
    background-color #ffa500;
    color: #fff;
  .focus
    color: #ffa500;
